.gedit-m-coze-editor-root-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 20px;
  color: var(--semi-color-text-2);
  margin-right: 4px;
  overflow: hidden;
}

.gedit-m-coze-editor-var-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gedit-m-coze-editor-tag {
  justify-content: flex-start;
  align-items: center;
  max-width: 300px;
  display: inline-flex;
}

.gedit-m-coze-editor-tag .semi-tag-content-center {
  justify-content: flex-start;
}

.gedit-m-coze-editor-tag.semi-tag {
  margin: 0 5px;
}

.gedit-m-coze-editor-popover-content {
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  display: inline-flex;
}

